pkgbase = openwork
	pkgdesc = An Open source alternative to Claude Cowork
	pkgver = 0.11.32
	pkgrel = 1
	url = https://github.com/different-ai/openwork
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = glib2
	depends = libayatana-appindicator
	depends = libsoup3
	depends = webkit2gtk-4.1
	depends = openssl
	depends = dbus
	depends = librsvg
	noextract = openwork-0.11.32.deb
	source = openwork-0.11.32.deb::https://github.com/different-ai/openwork/releases/download/v0.11.32/openwork-desktop-linux-amd64.deb
	sha256sums = 759f39b40b7f93e03c7ab90664e4e7f120b4aaa30b348814b56c299712fdc9df

pkgname = openwork
