pkgbase = openwork
	pkgdesc = An Open source alternative to Claude Cowork
	pkgver = 0.11.89
	pkgrel = 1
	url = https://github.com/different-ai/openwork
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = gtk3
	depends = glib2
	depends = libayatana-appindicator
	depends = libsoup3
	depends = webkit2gtk-4.1
	depends = openssl
	depends = dbus
	depends = librsvg
	noextract = openwork-0.11.89.deb
	source_x86_64 = openwork-0.11.89.deb::https://github.com/different-ai/openwork/releases/download/v0.11.89/openwork-desktop-linux-amd64.deb
	sha256sums_x86_64 = 2ba381fbe6d76548e3c3c992e5fbc93cd15ea198229e4c1b156c85f0029ac67d
	source_aarch64 = openwork-0.11.89.deb::https://github.com/different-ai/openwork/releases/download/v0.11.89/openwork-desktop-linux-arm64.deb
	sha256sums_aarch64 = 811f77959da3a92fc594eeaa09315b9c3d91750868f73935c5bd56c9e8ec4e1f

pkgname = openwork
