pkgbase = openwork
	pkgdesc = An Open source alternative to Claude Cowork
	pkgver = 0.11.34
	pkgrel = 1
	url = https://github.com/different-ai/openwork
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = glib2
	depends = libayatana-appindicator
	depends = libsoup3
	depends = webkit2gtk-4.1
	depends = openssl
	depends = dbus
	depends = librsvg
	noextract = openwork-0.11.34.deb
	source = openwork-0.11.34.deb::https://github.com/different-ai/openwork/releases/download/v0.11.34/openwork-desktop-linux-amd64.deb
	sha256sums = 697aa52fb810c59b5af35b6fe62444e0a3ae35d434e95a5616ecaefab6525467

pkgname = openwork
